<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome Email</title>
    <style>

        .stack {
            padding-top: 1rem;
        }
    </style>
</head>
<body>
    <h2>
        Hello {{firstName}} {{lastName}}, this is the confirmation email for your hair appointment.
    </h2>
    <h3>
        You are scheduled for {{date}}
    </h3>
    <h3>
        {{date}}
    </h3>
    <div>
        Hair type : {{hairType}}
    </div>
    <div class="stack">
        Haircut specifics:
    </div>
    <div>{{preset}}</div>
    <div> {{fadeType}}</div>
    <div> {{trimStyle}}</div>
    <div> {{trimType1}}</div>
    <div> {{trimType2}}</div>
    <div> {{trimType3}}</div>
</body>
</html>